@import '~sass-mq';

.modal, .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  z-index: 1000;
  overflow: auto;

  .modal-center {
    margin: auto;

    @include mq($until: tablet) {
      width: 100%;
      align-self: flex-end;
      margin-bottom: 0;
    }
  }

  .modal-box {
    position: relative;
    z-index: 1;
    background: white;
    overflow: hidden;

    @include mq($from: tablet) {
      animation: fade 600ms ease-in-out both, zoom 600ms ease-in-out both;
      border-radius: 3px;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
      margin: 20px;
    }

    @include mq($until: tablet) {
      min-width: 100%;
    }

    a.close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 15px;
      color: #bdbdbd; // material-color("grey", "400");
      display: block;
      transition: color 300ms linear;

      &:hover {
        color: #9e9e9e; // material-color("grey", "500");
      }
    }
  }

  .backdrop {
    background: rgba(0, 0, 0, 0.3);
  }
}

@include mq($from: desktop) {
  :host.shake .modal-box {
    animation: 
      fade 600ms ease-in-out both,
      zoom 600ms ease-in-out both,
      shake 600ms cubic-bezier(.36, .07, .19, .97) both;
  }
}