:host {
  
  display: block;
  position: relative;
  padding: 15px;
  border-bottom: 1px #e0e0e0 solid; // material-color("grey", '300')
  background: #f5f5f5; //material-color("grey", '100');

  a.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    color: #bdbdbd; // material-color("grey", "400");
    display: block;
    transition: color 300ms linear;

    &:hover {
      color: #9e9e9e; // material-color("grey", "500");
    }
  }
}