:host {
  display: block;
  position: relative;
  border-bottom: 1px solid; 

  a.close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    opacity: 0.4;
    transition: opacity 300ms linear;

    &:hover {
      opacity: 0.6;
    }
  }
}